/* .hero-btn {
  background-color: #f6d88c;
  border: none;
  border-radius: 16px;
  padding: 22px 36px;   
  outline: none;
  padding: 12px 25px 15px 15px;
  padding: 12px 25px 15px;
  padding: 22px 36px;   
  padding: 25px;
} */

/* .hero-btn:hover,
.hero-btn:focus {
  background-color: #ff0000;
  border-radius: 40px;
  font-size: 25px;
} */

/* .hero-btn:focus {
  background-color: aqua;
  border-radius: 5px;
} */

/* .hero-title:hover {
  color: red;
  font-size: 40px;
}

.navigation-link:active {
  color: red;
} */

/* .navigation {
  font-size: 45px;
  font-weight: 700;
}

.navigation-link {
  color: red;
  text-decoration: none;
} */

:root {
  --primary-color: #181817;
  --secondary-color: #6f6f6f;
  --accent-color: #f6d88c;
  --common-white: #f8f3ec;
  --main-font: "Darker Grotesque", sans-serif;
  --title-size: 65px;
  --text-size: 22px;
}

* {
  box-sizing: border-box;
}

.wrapper {
  background-color: #f8f3ec;
}

.list {
  list-style: none;
  padding: 0%;
}

.header {
  width: 1440px;
  margin: 0 auto;
  padding: 16px 55px 45px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #6e6e6e;
}

.navigation {
  font-family: var(--main-font);
  margin-right: 262px;
}

.navigation-list {
  display: flex;
}

.navigation-item {
  margin-right: 40px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-link {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: var(--text-size);
}

.logo {
  margin-right: 450px;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 40px;
  font-family: var(--main-font);
  font-weight: 700;
}

.logo-dot {
  color: var(--accent-color);
}

.social-link {
  text-decoration: none;
}

.content {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;

  /* ширина екрана = 2170px */
  /* ширина класу content = 1170px */
  /* від ширини екрану віднімаємо ширину content = 1000px */
  /* різниця ділиться на 2 = 500px */
  /* 500px зліва і 500px справа */
}

/* herro section */

.hero {
  background-color: #f8f3ec;
  display: flex;
  align-items: center;
}

.hero-title {
  margin-top: 0;
  font-family: var(--main-font);
  font-size: 82px;
  line-height: 71px;
  font-weight: 600;
  color: var(--primary-color);
  width: 500px;
  margin-bottom: 20px;
}

.hero-text {
  font-family: var(--main-font);
  color: var(--secondary-color);
  font-weight: 500;
  font-size: var(--text-size);
  margin-bottom: 40px;
  margin-top: 0;
  width: 370px;
}

.hero-btn {
  font-family: var(--main-font);
  font-size: var(--text-size);
  text-transform: uppercase;
  background-color: var(--accent-color);
  border: none;
  padding: 20px 36px;
  border-radius: 16px;
}

.hero-btn:hover {
  background-color: red;
}

.hero-img {
  width: 278px;
  height: 653px;
}

.hero-img:first-child {
  margin-right: 14px;
}

.hero-container {
  font-size: 0;
}

.hero-left-side {
  margin-right: 96px;
}

.hero-right-side {
  padding: 63px 0 54px;
}

/* clients */

.clients-right-side {
  padding-top: 100px;
  padding-bottom: 160px;
  display: flex;
  flex-wrap: wrap;
  width: 695px;
}

/* 695
224 * 3 = 672 + 33 = 705 */

.clients-img {
  width: 224px;
  height: 91px;
  margin-right: 11px;
  margin-bottom: 11px;
}

/* an+b
a - елемент з якого починаємо відлік
b - крок який використовуємо для роботи */

.clients-img:nth-child(3n + 3) {
  margin-right: 0;
}

.clients-title {
  font-family: var(--main-font);
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 600;
  width: 314px;
  margin-bottom: 10px;
}

.clients-text {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: var(--text-size);
  color: var(--secondary-color);
  margin-top: 0;
  width: 295px;
}

.clients-left-side {
  margin-right: 130px;
  display: flex;
  align-items: center;
}

.clients-left-side::before {
  width: 5px;
  height: 146px;
  background-color: var(--accent-color);
  content: "";
  display: inline-block;
  margin-right: 30px;
}
